@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fraunces:opsz,wght@9..144,600&family=Sora:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Sora', 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5fbf4;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', 'Times New Roman', serif;
  margin: 0;
}

p {
  margin: 0;
}
